# "To Do" files
*.ymp.todo

# Description files of other files
*.ymp.desc
*.ymp.description

# Library Configuration files
*.ymp.lib.config
*.ymp.library.config
*.ymp.lib.configuration
*.ymp.library.configuration
